@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .page-nav {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .nav-list {
    display: none;
  }

  .address-list {
    display: none;
  }

  .mob-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .hero {
    max-width: 767px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-mob.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/bg-mob@2x.jpg");
    }
  }

  .hero-title {
    font-size: 36px;
    max-width: 320px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--second-title-color);
    margin-bottom: 72px;
  }

  .modal {
    width: 392px;
    padding: 72px 16px 24px 16px;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .feature-wrap {
    flex-direction: column;
    gap: 72px;
  }

  .feature-item {
    width: 100%;
  }

  .feature-icon {
    display: none;
  }

  .feature-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
  }

  .feature-text {
    font-weight: 500;
  }

  .section-two {
    display: none;
  }

  .team-container {
    max-width: 296px;
  }

  .team-list {
    flex-direction: column;
    gap: 72px;
  }

  .customers-list {
    flex-wrap: wrap;
    gap: 72px 16px;
  }

  .customers-list-item {
    width: calc((100% - 16px) / 2);
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  .logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .footer-text {
    text-align: center;
  }

  .social-media-wrap {
    align-items: center;
    margin: 0 auto;
  }
  .social-media-text {
    text-align: center;
  }

  .form-wrap {
    flex-direction: column;
    align-items: center;
    width: 398px;
    gap: 16px;
  }

  .subscribe-text {
    text-align: center;
  }

  .subscribe-input {
    width: 398px;
  }
}

@media screen and (max-width: 427px) {
  .mob-menu-phone-link {
    font-size: 26px;
  }

  .mob-menu-social-list {
    gap: 30px;
  }

  .hero-title {
    font-size: 32px;
  }

  .modal {
    width: 320px;
  }

  .modal-text {
    min-width: 288px;
    font-size: 12px;
  }

  .modal-form {
    width: 288px;
  }

  .modal-form-check {
    font-size: 10px;
  }

  .user-policy {
    margin-right: 4px;
  }

  .feature-item {
    width: 290px;
    margin: 0 auto;
  }

  .feature-title {
    font-size: 28px;
  }

  .feature-text {
    font-size: 12px;
  }

  .form-wrap {
    width: 290px;
  }

  .subscribe-input {
    width: 290px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mob-menu-open {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .address-list {
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .address-item {
    line-height: 0;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .hero-title {
    margin-bottom: 36px;
  }

  .feature-wrap {
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .feature-item {
    width: 356px;
  }

  .feature-icon {
    display: none;
  }

  .feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
  }

  .feature-text {
    font-weight: 500;
  }

  .section-two {
    display: none;
  }

  .team-container {
    max-width: 584px;
  }

  .team-list {
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .customers-container {
    max-width: 584px;
  }

  .customers-list {
    flex-wrap: wrap;
    gap: 72px 16px;
  }

  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-container {
    max-width: 584px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .logo-wrap {
    margin: 0;
  }

  .social-media-wrap {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .logo {
    margin-right: 76px;
  }
}
