@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .page-nav {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .nav-list {
    display: none;
  }

  .address-list {
    display: none;
  }

  .mob-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}

@media screen and (max-width: 427px) {
  .mob-menu-phone-link {
    font-size: 26px;
  }

  .mob-menu-social-list {
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mob-menu-open {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .address-list {
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .address-item {
    line-height: 0;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .logo {
    margin-right: 76px;
  }
}
